<html>
<head>
  <title>Client</title>
  <style>
    input{
      margin-left: 3%;
    }
  </style>
</head>
<body>
<form accept-charset="UTF-8" action="http://0.0.0.0:3000/api/posts" method="get">
<h2>All data</h2>
  reputation
  <input type="submit"/>
</form>

</body>
</html>