<html>
<head>
  <title>Client</title>
  <style>
    input{
      margin-left: 3%;
    }
  </style>
</head>
<body>
<form accept-charset="UTF-8" action="http://0.0.0.0:3000/api/records" method="post">
<h2>All data</h2>
  client_id
  <input type="text" name="client_id" value="1" /><br/>

  client_name
  <input type="text" name="client_name" value="Expertiza" /><br/>

  crypted_key
  <input type="text" name="crypted_key" value="11c64a81e797b693c74952c5f676a0016ef7ce44" /><br/>

  assignment_id
  <input type="text" name="assignment_id" value="695" /><br/>

  task_id
  <input type="text" name="task_id" value="1" /><br/>

  task_name
  <input type="text" name="task_name" value="OSS" /><br/>

  reviewer_id
  <input type="text" name="reviewer_id" value="4842" /><br/>

  reputation_score
  <input type="text" name="reputation_score" value="0.85" /><br/>

  entity_id
  <input type="text" name="entity_id" value="23330" /><br/>

  expert_grde
  <input type="text" name="expert_grde" value="98" /><br/>

  peer_review_score
  <input type="text" name="peer_review_score" value="88" /><br/>

  comment
  <input type="text" name="comment" value="Good!" /><br/>

  type
  <input type="text" name="type" value="PR" /><br/>

  user_name
  <input type="text" name="user_name" value="Bob" /><br/>

  grade
  <input type="text" name="grade" value="90" /><br/>

  <input type="submit"/>
</form>

</body>
</html>