<html>
<head>
  <title>Client</title>
  <style>
    input{
      margin-left: 3%;
    }
  </style>
</head>
<body>
<form accept-charset="UTF-8" action="http://0.0.0.0:3000/api/posts" method="post">
<h2>All data</h2>
  client_id
  <input type="text" name="client_id" value="1" /><br/>

  client_name
  <input type="text" name="client_name" value="Expertiza" /><br/>

  assignment_id
  <input type="text" name="assignment_id" value="1" /><br/>

  PR_max_score
  <input type="text" name="PR_max_score" value="100" /><br/>

  PR_min_score
  <input type="text" name="PR_min_score" value="100" /><br/>

  BR_max_score
  <input type="text" name="BR_max_score" value="100" /><br/>

  BR_min_score
  <input type="text" name="BR_min_score" value="100" /><br/>

  reviewer_id
  <input type="text" name="reviewer_id" value="94" /><br/>

  task_id
  <input type="text" name="task_id" value="1" /><br/>

  score
  <input type="text" name="score" value="0.8" /><br/>

  entity_id
  <input type="text" name="entity_id" value="1" /><br/>

  type
  <input type="text" name="type" value="PR" /><br/>

  <input type="submit"/>
</form>

</body>
</html>