<html>
<head>test</head>
<body>
<form accept-charset="UTF-8" action="http://0.0.0.0:3000/api/customers" method="post">
  <input type="text" name="id" value="1" />
  <input type="text" name="name" value="1" />
  <input type="text" name="street" value="1" />
  <input type="text" name="city" value="1" />
  <input type="text" name="state" value="1" />
  <input type="text" name="zipcode" value="12345" />
  <input type="text" name="home_phone" value="919-579-1902" />
  <input type="text" name="work_phone" value="919-579-1902" />
  <input type="text" name="email" value="123@ncsu.edu" />
  <input type="submit"/>

</form>
</body>
</html>